services:

  # open5gs
  core:
    container_name: "core"
    # image: cell-docker-core
    command: ./initCore.sh
    tty: true
    env_file: ".env"
    build:
      dockerfile: core.Dockerfile
      context: ./docker
      network: host
      # no_cache: true 
    ports:
      - "8080:12312"
    develop:
      watch:
        - action: sync
          path: .
          target: /core_source
    privileged: true
    network_mode: "host"
    cap_add:  
      - SYS_NICE
      - NET_ADMIN
      - SYS_ADMIN
    ulimits:
      rtprio: 99
      rttime: -1
      memlock: 8428281856
    healthcheck:
      test: ["CMD-SHELL", "grep -q 'Running 5G SA Core Network' ./health.log"]
      interval: 5s
      timeout: 1s
      retries: 60
      # start_period: 5s
    volumes:
      - /dev/:/dev/
      - /proc:/proc
  
  # srsran gnb
  gnb:
    container_name: gnb
    # image: cell-docker-gnb
    command: bash -c "./initGnb.sh; sleep infinity"
    env_file: ".env"
    build:
      dockerfile: gnb.Dockerfile
      context: ./docker
      network: host
      # no_cache: true 
    ports:
      - "8081:12313"
    develop:
      watch:
        - action: sync
          path: .
          target: /gnb_source 
    privileged: true
    network_mode: "host"
    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - SYS_ADMIN
    ulimits:
      rtprio: 99
      rttime: -1
      memlock: 8428281856
    volumes:
      - /tmp/gnb/:/tmp/
      - /dev/:/dev/
      - /proc:/proc
    depends_on:
      core:
        condition: service_healthy
        restart: true