services:

  # open5gs
  core:
    container_name: "core"
    image: cell-docker-core
    command: ./initRoaming.sh
    tty: true
    env_file: ".env"
    # environment:
    #   INSTALL_PREFIX: ""
    build:
      dockerfile: core.Dockerfile
      context: ./docker
      network: host
    privileged: true
    network_mode: "host"
    cap_add:  
      - SYS_NICE
      - NET_ADMIN
      - SYS_ADMIN
    ulimits:
      rtprio: 99
      rttime: -1
      memlock: 8428281856
    healthcheck:
      test: ["CMD-SHELL", "grep -q 'Running 5G SA Core Network' ./health.log"]
      interval: 5s
      timeout: 1s
      retries: 60
      # start_period: 5s
    volumes:
      - type: bind
        source: /open5gs/
        target: /open5gs/
        read_only: false
      - /dev/:/dev/
      - /proc:/proc
  
  # srsran gnb
  gnb:
    container_name: gnb
    image: cell-docker-gnb
    command: bash -c "./initGnb.sh"
    env_file: ".env"
    environment:
      CONTAINER_NAME: "gnb"
    build:
      dockerfile: gnb.Dockerfile
      context: ./docker
      network: host
    privileged: true
    network_mode: "host"
    cap_add:
      - SYS_NICE
      - NET_ADMIN
      - SYS_ADMIN
    ulimits:
      rtprio: 99
      rttime: -1
      memlock: 8428281856
    volumes:
      - /tmp/gnb/:/tmp/
      - /dev/:/dev/
      - /proc:/proc
    depends_on:
      core:
        condition: service_healthy
        restart: true
    stdin_open: true
    tty: true