# This example configuration outlines how to use the 'cells' subcommand. The base cell configuration is
# for all cells using the 'cell_cfg' subcommand, with the 'cell' subcommand being used to overwrite this
# base configuration for a single cell.

gnb_id: 411
gnb_id_bit_length: 32

cu_cp:
  amf:
    addr: 127.0.1.100                                             # The address or hostname of the AMF.
    port: 38412
    bind_addr: 127.0.0.1                                          # A local IP that the gNB binds to for traffic from the AMF.
    supported_tracking_areas:                                     # Configure the TA associated with the CU-CP
      - tac: 7                                                    # Tracking area code
        plmn_list:                                                # List of PLMNs associated with the tracking area
          - plmn: "NETWORK_MCCNETWORK_MNC"                        # PLMN ID
            tai_slice_support_list:                               # List of slices supported by the tracking area
              - sst: 1                                            # Slice/Service Type
  mobility:
    trigger_handover_from_measurements: true                      # Set the CU-CP to trigger handover when neighbor cell measurements arrive
    cells:                                                        # List of cells available for handover known to the cu-cp
      - nr_cell_id: 0x19B0                                        # Cell ID for cell 1
        periodic_report_cfg_id: 1                                 # Set the periodic report configuration ID for this cell
        ncells:                                                   # Neighbor cell(s) available for handover
          - nr_cell_id: 0x19B1                                    # Cell ID of neighbor cell available for handover
            report_configs: [ 2 ]                                 # Report configurations to configure for this neighbor cell
      - nr_cell_id: 0x19B1                                        # Cell ID for cell 2
        periodic_report_cfg_id: 1                                 # Set the periodic report configuration ID for this cell
        ncells:                                                   # Neighbor cell(s) available for handover
          - nr_cell_id: 0x19B0                                    # Cell ID of neighbor cell available for handover
            report_configs: [ 2 ]                                 # Report configurations to configure for this neighbor cell
    report_configs:                                               # Sets the report configuration for triggering handover
      - report_cfg_id: 1                                          # Report config ID 1
        report_type: periodical                                   # Sets the report type as periodical
        report_interval_ms: 480                                   # Sets to report every 480ms
      - report_cfg_id: 2                                          # Report config ID 2
        report_type: event_triggered                              # Sets the report type as event triggered
        event_triggered_report_type: a3                           # Sets the event triggered report type as A3
        meas_trigger_quantity: rsrp                               # Sets the measurement trigger quantity as rsrp
        meas_trigger_quantity_offset_db: 3                        # Sets the measurement trigger quantity offset to 3dB
        hysteresis_db: 0                                          # Sets the hysteresis to 0dB
        time_to_trigger_ms: 100                                   # Sets the time to trigger to 100ms

cell_cfg:
  dl_arfcn: 503340
  band: 41                         
  channel_bandwidth_MHz: 20
  common_scs: 30                         # Subcarrier spacing in kHz used for data.
  plmn: "NETWORK_MCCNETWORK_MNC" 
  tac: 7                            
  pci: 1

cells:
  -
    pci: 1
    prach:
      prach_root_sequence_index: 0
  -
    pci: 2
    prach:
      prach_root_sequence_index: 64

ru_sdr:
  device_driver: uhd
  device_args: type=b200,serial=USRP_ID,num_recv_frames=256,num_send_frames=256
  clock: external
  srate: 23.04                           # Sets the sampling rate of the RF-frontend in MHz
  otw_format: sc12
  tx_gain: 80
  rx_gain: 40 
  # time_alignment_calibration: -1000    # This will set an offset of -170 samples

# level: none, error, warning, info, debug
log:
  filename: /tmp/gnb.log
  all_level: info
  hex_max_size: 32
  ngap_level: info
  e1ap_level: warning
  e2ap_level: warning
  gtpu_level: warning
  high_latency_diagnostics_enabled: true

pcap:
  mac_enable: true
  mac_filename: /tmp/gnb_mac.pcap
  ngap_enable: true
  ngap_filename: /tmp/gnb_ngap.pcap
  e1ap_filename: /tmp/gnb_e1ap.pcap     # Optional TEXT (/tmp/gnb_e1ap.pcap). Path for E1AP PCAPs.
  e1ap_enable: true 
  f1ap_filename: /tmp/gnb_f1ap.pcap     # Optional TEXT (/tmp/gnb_f1ap.pcap). Path for F1AP PCAPs.
  f1ap_enable: true